---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me">
    <div class="px-5">
        <h1 class="text-5xl font-bold tracking-tight mb-10">Some facts <span class="text-accent">about me</span></h1>
        <p>I hate writing "about me" pages and bios because it always feels like bragging.</p>
        <h2>What I am doing now?</h2>
        <h2>My areas of interest</h2>
        <p>Web Performance - "Performance is excellence" is a phrase that describes best why I love this particular area of web development. Fast applications are possible only with deep understanding of how JavaScript and browser works and writing code in the most optimal way to use what they offer to full extent.</p>
    </div>
</Layout>
