---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me">
    <div class="px-5 links">
        <h1 class="text-5xl font-bold tracking-tight mb-10">Some facts <span class="text-accent">about me</span></h1>
        <p>I am a web developer, founder, ex-CTO and a huge fan of Open Source. </p>
        <h2 class="h-2">What I am doing now?</h2>
        <p>
            I'm building Vue Storefront - a product that started as an Open Source side-gig in 2017 that is now one of the most promising startups in the eCommerce space (we actually won award for the <a href="https://vuestorefront.io/news/vue-storefront-wins-best-ecommerce-startup-at-top-european-tech-awards"></a>Best Retail Startup in Europe and <a href="https://vuestorefront.io/news/vue-storefront-wins-poland-top-startup-award">Best startup in Poland</a>!) 
        </p>
        <h2 class="h-2">My areas of interest</h2>
        <p>Things I care abotu and write about.</p>
        <ul>
            <li>eCommerce</li>
            <li>Developer Experience</li>
            <li>Web Performance</li>
            <li>Open Source</li>
            <li>Open Source Monetization</li>
        </ul>
        <!-- <p>Web Performance - "Performance is excellence" is a phrase that describes best why I love this particular area of web development. Fast applications are possible only with deep understanding of how JavaScript and browser works and writing code in the most optimal way to use what they offer to full extent.</p> -->
    </div>
</Layout>
