---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me">
    <div class="px-5">
        <h1 class="text-5xl font-bold tracking-tight mb-10">Some facts <span class="text-accent">about me</span></h1>
        <p>I hate writing "about me" pages and bios because it always feels like bragging.</p>
    </div>
</Layout>
