---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home" classList="flex items-center">
	<div class="flex container mx-5">
	  <div class="grid lg:grid-cols-2 gap-12">
		<div class="my-auto order-last md:order-first">
		  <h1 class="text-3xl md:text-6xl font-bold tracking-tight">
		    <span class="text-accent">
				Hi, I'm Filip! <span class="inline-block wave">👋</span><br />
			</span>
			I build eCommerce products for devs <s>to change the world</s> because <span class=" text-accent">it's fun</span>
		  </h1>
		</div>
		<div class="md:px-0">
		  <img
			src="/assets/filip.png"
			class="w-1/2 md:w-3/4 rounded-lg shadow-lg md:ml-auto"
			alt="Filip photo inside a green circle"
		  />
		</div>
	  </div>
	</div>
</Layout>

<style>
.wave {
  animation-duration: 0.75s;
  animation-name: wave;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes wave {
  50% {
    transform: rotate(0.25turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
</style>
