---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="flex container mx-5 items-center">
	  <div class="grid lg:grid-cols-2 gap-12">
		<div class="my-auto">
		  <h1 class="text-5xl md:text-6xl font-bold tracking-tight mb-12">
		    <span class="text-accent">
				Hi, I'm Filip! <span class="inline-block wave">👋</span><br />
			</span>
			I build products for devs <s>to make their lifes easier</s> because <span class=" text-accent">its fun</span></h1>
		  <a href="/about" class="inline-block px-7 py-3 mr-2 bg-accent text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-primary-lightest hover:shadow-lg focus:bg-accent focus:shadow-lg focus:outline-none focus:ring-0 active:bg-accent active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" role="button">Read more about me</a>
		  <a class="inline-block px-7 py-3 bg-transparent text-accent font-medium text-sm leading-snug uppercase rounded hover:text-black hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Check Vue Storefront</a>
		</div>
		<div>
		  <img
			src="/assets/filip.png"
			class="w-3/4 rounded-lg shadow-lg ml-auto"
			alt="Filip photo inside a green circle"
		  />
		</div>
	  </div>
	</div>
</Layout>

<style>
.wave {
  animation-duration: 0.75s;
  animation-name: wave;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes wave {
  50% {
    transform: rotate(0.25turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
</style>
