---
import Layout from '../layouts/Layout.astro';
import Listing from '../components/Listing.vue'
---

<Layout title="Writings">
	<h1 class="text-5xl font-bold tracking-tight mb-10 px-5">I write about <span class="text-accent">#eCommerce</span>, <span class="text-accent">#webperf</span> and <span class="text-accent">#OpenSource</span></h1>
	<Listing />
</Layout>

<style>
</style>
