---
import Layout from '../layouts/Layout.astro';
import TalkListing from '../components/TalkListing.vue'
import { talks } from '../data/talks'
---

<Layout title="Speaking">
    <h1 class="text-5xl font-bold tracking-tight mb-10 px-5">
        I had a chance to talk at more than <span class="text-accent">30 international events</span>.
        I speak about <span class="text-accent">things that matter to me</span> or that I find <span class="text-accent">interesting</span>.
    </h1>
    <TalkListing talks={talks} />
</Layout>

<style>
</style>
