---
import AppHeader from '../components/AppHeader.vue'
import AppFooter from '../components/AppFooter.vue'

export interface Props {
	title: string;
}

const { title } = Astro.props;
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title || frontmatter.title } | Filip Rakowski</title>
	</head>
	<body class="bg-primary flex-col flex min-h-screen w-full	">
		<AppHeader />
		{ // separate styling for .md docs
			frontmatter ?
				<main class="container mx-auto my-10 grow">
					<div class="p-5 bg-primary-lighter">
		  				<slot />
					</div>
				</main> :
				<main class="container mx-auto my-10 grow px-5 md:px-0 ">
					<slot />
				</main>
		}
		<AppFooter />
	</body>
</html>

<style>

</style>

<style is:global>
body {
	/* text-slate-300 */
	color: rgb(203 213 225);
}
.link {
	@apply text-accent hover:underline
}
/* *:hover {
	  outline: 1px solid red;
} */
</style>
