---
import AppHeader from '../components/AppHeader.vue'
import AppFooter from '../components/AppFooter.vue'

export interface Props {
	title: string;
	classList: string;
}

const { title, frontmatter, classList } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" class="grayscale" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title || frontmatter.title } | Filip Rakowski</title>
	</head>
	<body class="bg-primary flex-col flex min-h-screen w-full">
		<AppHeader />
		{ // separate styling for .md docs
			frontmatter ?
				<main class="container mx-auto my-10 grow">
					<h1 class="text-3xl md:text-5xl font-bold tracking-tight mb-10 px-5"> 
						{ frontmatter.title }
					</h1>
					<article class="p-5 bg-primary-lighter">
		  				<slot />
					</article>
				</main> :
				
				<main class:list={['container mx-auto my-10 grow px-5 md:px-0', classList ]}>
					<slot />
				</main>
		}
		<AppFooter />
	</body>
</html>

<script is:inline>
const faviconUrl = document.querySelector("link[rel~='icon']");

document.addEventListener("visibilitychange", () => {
  if (document.hidden) {
	faviconUrl.href="/favicon-gray.svg"
  } else {
	faviconUrl.href="/favicon.svg"
  }
})
</script>

<style is:global>
body {
	color: rgb(203 213 225);
}

footer a, article a  {
	@apply text-accent hover:underline
}

article p {
	@apply mb-5
}

article h2 {
	@apply text-2xl font-bold mb-5
}

article h3 {
	@apply text-xl font-bold mb-5
}

main {
  opacity: 0;
  animation: fade-in 0.3s ease-in forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
</style>
